{% extends 'nav.html' %}
{% load i18n static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>{% block title %}Census - All Census{% endblock %}</title>
    </head>


<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Voter Id</th>
            <th scope="col">Voting Id</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for census in allCensus%}
            <th scope="row">{{ census.id }}</th>
            <td id='voter_{{ census.id }}'>{{ census.voter_id }}</td>
            <td id='voting_{{ census.id }}'>{{ census.voting_id }}</td>
            {% if request.user.is_staff %}
            <td>
            <a href="{% url 'deleteCensus' census.voting_id census.voter_id %}" class="btn btn-danger a-btn-slide-text">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 <span><strong>Delete</strong></span>            
             </a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    


{% block extrabody %}
{% endblock %}
</body>
{% endblock %}
</html>
