{% extends 'nav.html' %}
{% load i18n static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>{% block title %}Decide censos{% endblock %}</title>
    </head>


<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for voting in votings %}
            <th scope="row"><a href="{{ voting.get_absolute_url }}"> {{ voting.name }} </a></th>
            <td>{{ voting.desc }}</td>
            <td>{% if voting.end_date_null %}
                 Votation in progress
                {% else %}
                from {{ voting.start_date }} to {{ voting.end_date }}
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


</body>
{% endblock %}